<header>
  <div class="top">
    <div class="top-inner">
      <div class="site-title">
        {{if .IsHome -}}<h1>{{- end -}}
        <a href="{{ .Site.BaseURL | absURL }}">
          {{- if .Site.Params.UseHeaderLogo -}}
          {{- partial "img" (dict "src" "/images/logo.png" "ext" "html" "alt" .Site.Title "width" "270" "height" "40") -}}
          {{ else }}
          {{- .Site.Title -}}
          {{- end -}}
        </a>
        {{- if .IsHome -}}</h1>{{- end}}
      </div>
    </div>
  </div>
</header>
