{{ define "main" }}
        <div class="one-column">
          <div class="main-inner">
            {{ partial "breadcrumb" . }}
            <article>
              {{ partial "article-date" . }}
              <h1>{{ .Title }}</h1>
              {{ partial "article-info" . }}
              {{$ext := $.Scratch.Get "ext" }}
              {{ partial "eyecatch-img" (dict "pageinfo" . "needsanchor" true "ext" $ext "mode" "content")}}
              {{ .Content }}
              {{ partial "share" . }}
              {{ partial "disqus" (dict "pageinfo" . "ext" $ext)}}
            </article>
            {{ partial "related" . }}
            {{partial "sidebar" . }}
          </div>
        </div>
{{ end }}

